#### Class Activity Solution

In [4]:
import requests
from bs4 import BeautifulSoup

# URL of the webpage to scrape
url = "https://www.sbp.org.pk/l_frame/index2.asp"

# Send a request to fetch the webpage content
response = requests.get(url)
web_content = response.content

# Parse the webpage content
soup = BeautifulSoup(web_content, 'html.parser')

# Find all links to PDF files
base_url = "https://www.sbp.org.pk"
pdf_links = []
for a in soup.find_all('a', href=True):
    href = a['href']
    if href.endswith('.pdf'):
        if href.startswith('http'):
            full_url = href
        else:
            full_url = base_url + href if href.startswith('/') else base_url + '/' + href
        pdf_links.append(full_url)

# Display the PDF links
for link in pdf_links:
    print(link)

https://www.sbp.org.pk/../about/act/SBP-Act.pdf
https://www.sbp.org.pk/../about/act/ProtectionEconomicReformsAct-1992.pdf
https://www.sbp.org.pk/../about/ordinance/ordinance.pdf
https://www.sbp.org.pk/../about/ordinance/Ordinance_1.pdf
https://www.sbp.org.pk/../publications/prudential/ordinance_62.pdf
https://www.sbp.org.pk/BanksNationalizationAct1974.pdf
https://www.sbp.org.pk/NAB_Ord_1999.pdf
https://www.sbp.org.pk/MF_Inst_Ord_2001.pdf
https://www.sbp.org.pk/../psd/2007/EFT_Act_2007.pdf
https://www.sbp.org.pk/../about/act/PakistanCoinageAct-906.pdf
https://www.sbp.org.pk/../about/act/PakistanCoinageAct-Amend.pdf
https://www.sbp.org.pk/../about/act/NegotiableAct1881.pdf
https://www.sbp.org.pk/../about/act/ETC202.pdf
https://www.sbp.org.pk/../about/act/CreditBureauAct-2015.pdf
https://www.sbp.org.pk/../about/act/CreditBureauAct-2016.pdf
http://www.sbp.org.pk/about/ordinance/ordinance-.pdf
https://www.sbp.org.pk/../smefd/2016/FinancialInstitutionsAct-2016.pdf
https://www.sbp.org.pk/Act-2016-DPC-NationalAssemblySec.pdf
https://www.sbp.org.pk/PublicFinanceManagementAct_2019.pdf
https://www.sbp.org.pk/Regulations-LOLR-facility-for-Banks.pdf
http://www.sbp.org.pk/Guidelines/BCCPD/2016/CBLicensingCriteria.pdf
http://www.sbp.org.pk/notifications/BCCPD/2016/ntf1.pdf
https://www.sbp.org.pk/../about/act/CreditBureauRules.pdf
http://www.sbp.org.pk/warnings/pdf/2018/Minimum-PaidUp-Capital-CB.pdf
https://www.sbp.org.pk/epd/ec/2021/EC-Manual.pdf
https://www.sbp.org.pk/PDF/2019/Notification-01.pdf

#### Challenge Solution

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the webpage (replace with your own URL)
url = 'https://www.psx.com.pk/market-summary/#main'

# Send an HTTP request to the page
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table with the relevant class (as seen in your HTML snippet)
table = soup.find('div', {'id': 'marketmainboard'}).find('table')

# Extract the headers (SCRIP, LDCP, OPEN, HIGH, etc.)
headers = []
for header in table.find_all('td')[0:8]:  # Adjust based on the number of headers
    headers.append(header.text.strip())
    
rows = []
for row in table.find_all('tr')[2:]:  # Skip the first 2 rows (headers and empty row)
    cols = row.find_all('td')
    if cols:  # Only process rows with data
        row_data = [col.text.strip() for col in cols]
        rows.append(row_data)
        
# Generate a dataframe for this data
df = pd.DataFrame(rows, columns=headers)

# Display the DataFrame
df

# Optionally, save to CSV
# df.to_csv('psx_market_data.csv', index=False)

,SCRIP,LDCP,OPEN,HIGH,LOW,CURRENT,CHANGE,VOLUME
0,AL-Ghazi Tractors,369.99,365.45,371.0,365.45,369.0,-0.99,"1,384"
1,Atlas Honda Ltd,628.54,625.1,635.0,625.0,635.0,6.46,198
2,Dewan Motors,44.21,44.5,44.5,42.5,43.54,-0.67,"1,325,363"
3,Ghandhara Automobile,234.42,233.0,234.0,224.1,227.44,-6.98,"673,660"
4,Ghandhara Ind.,296.80,297.0,297.0,287.5,290.0,-6.8,"325,082"
5,Hinopak Motor,267.63,265.02,265.02,265.0,265.0,-2.63,"1,047"
6,Honda Atlas Cars,253.42,253.0,254.88,252.0,252.21,-1.21,"31,915"
7,Indus Motor Co,"1,745.08",1784.99,1784.99,1731.1,1765.98,20.9,70
8,Millat Tractors,549.59,552.9,552.9,544.0,545.0,-4.59,"68,604"
9,Sazgar Eng,985.59,987.0,999.78,986.25,990.5,4.91,"95,403"

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the webpage
url = 'https://www.psx.com.pk/market-summary/#main'

# Send an HTTP request to the page
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all tables with the relevant class or ID
tables = soup.find('div', {'id': 'marketmainboard'}).find_all('table')

# Access the second table
second_table = tables[1]  # Indexing the second table

# Extract the headers (SCRIP, LDCP, OPEN, HIGH, etc.)
headers = []
for header in second_table.find_all('td')[0:8]:  # Adjust based on the number of headers
    headers.append(header.text.strip())

# Extract rows from the second table
rows = []
for row in second_table.find_all('tr')[2:]:  # Adjust as needed to skip irrelevant rows
    cols = row.find_all('td')
    if cols:  # Only process rows with data
        row_data = [col.text.strip() for col in cols]
        rows.append(row_data)

# Convert the data to a DataFrame
df = pd.DataFrame(rows, columns=headers)

# Display the DataFrame
df

# Optionally, save to CSV
# df.to_csv('second_table_psx.csv', index=False)

                 SCRIP    LDCP   OPEN    HIGH    LOW CURRENT CHANGE     VOLUME
0       Agriautos Ind.   88.03  88.45   88.45   87.4    87.9  -0.22      1,106
1     Atlas Battery-XD  327.70  325.0  347.47  325.0  347.47   16.9     53,030
2        Bal.Wheels-XD  105.03  112.0   112.0  105.0   105.0   0.23      3,163
3      Bela Automotive  150.00  165.0   165.0  163.0   165.0   15.0        894
4      Dewan Auto Engg   45.42   47.0    47.8  45.12    47.0   1.45     46,966
5          Exide (PAK)  856.96  864.0   895.0  851.0   893.0  35.64     14,817
6       Ghandhara Tyre   37.52  37.99   38.43   37.6    38.0   0.47    263,327
7        Loads Limited   10.42   10.6   11.23  10.36   11.12   0.66  2,049,004
8   Panther Tyres Ltd.   39.92  39.98    40.0  39.46   39.47  -0.41     86,195
9         Thal Limited  393.86  400.0   414.0  381.0   414.0  19.92  1,974,638
10  Treet Battery Ltd.   16.14  16.01    16.3  16.01    16.1  -0.09     89,106