Welcome to google colab. This is free code editor provided by google to help you run python without downloading and installing it.

Welcome NIBAF. Today we will learn a lot of python in short time while doing fun activities so stay curious and have fun.

Let's write our first script in python and run it

In [ ]:
print('Hello World') # print is a function in python

print('Hello python') # this is a comment

Hello World
Hello python

Print is a function in python. A function takes an input and generates and output. In this case print generates an output 'Hello World'. The text in green is a comment. Comments are made to keep the code clean and readable.

In [ ]:
# example comment

#example of running more script
print(2/2)
print('Ny name is lakhan')

1.0
Ny name is lakhan

String text

In [ ]:
'Hello world'
"Hello World"
"""Hello World"""

In [ ]:
# what's the need of using single , double , triple quotes?
'I am razi moosa'
"I'm razi moosa"
"""Hello my name is razi
my age is 24
my session at NIBAf has a lovely audience"""

print("""Hello my name is razi
my age is 24
my session at NIBAf has a lovely audience""")

Hello my name is razi
my age is 24
my session at NIBAf has a lovely audience

In [ ]:
#example code
#single line text
'Hello World'   #single quotes
"Hello World, my age is 24"   #double quotes


#multi-line text
""" Hello world
My name is razi and today I'm feeling very lucky!""" # triple double quotes

Hello I'm razi

Write a script which prints
- Hello, NIBAF
- Today I'm feeling lucky
- Prints the above two strings in one line
- Children Poem
  - Humpty Dumpty sat on a wall,
  - Humpty Dumpty had a great fall.
  - All the king's horses and all the king's men
  - Couldn't put Humpty together again.

In [ ]:
print('Hello, NIBAF') #single quotations

print("Today I'm feeling lucky") #double quotations

print('Hello, NIBAF' , "Today I'm feeling lucky") #we can print multiple strings in one line using ,
""" Humpty Dumpty sat on a wall,
Humpty Dumpty had a great fall.
All the king's horses and all the king's men
Couldn't put Humpty together again."""

Hello, NIBAF
Today I'm feeling lucky
Hello, NIBAF Today I'm feeling lucky

Variables
- Variable stores information in a program.

In [ ]:
a = 10000 # a is my variable and the value it store is 1
b = 100
print(a/b)

100.0

In [ ]:
# this is how we store values in variables
a = 1
b = 2
c = 3.142 #pi

print(a+b+c)

6.1419999999999995

In [ ]:
a = 3
b = 'hello'
c = 4.5
d = b

print(b, d)

hello b

In [ ]:
a = 10
b = 'Razi' # if not written in quotes then python will look for a variable
b = razi  #it looking for a variable razi
b = 'razi' # i need to use quote to make it string

Types of variables
- Integers : Integers are positive, negative whole numbers
- Float : Any decimal number
- String : Any text value
- Boolean : True , False (relates to conditions if a variable is true or not - to identify)
- None : null (To express that variable has nothing in it)

In [ ]:
#example
a = 2
b = 10.5
c = 'Hello NIBAF, date is 9/17/2024 and age is 24'
d = True
e = None


# python automatically detects the type of variable we just need to declare it

# we can print these variables and check their type using type() function

print(type(a))

<class 'int'>

In [ ]:
# we can print in one line too instead of calling the print function in every line by using comma ,

print(b , type(b) , c , type(c) , d, type(d), e , type(e) )

10.5 <class 'float'> Hello NIBAF, date is 9/17/2024 and age is 24 <class 'str'> True <class 'bool'> None <class 'NoneType'>

In [ ]:
# In Python, you can store values in variables.
# Here's how you create and print a variable.
variable="Today I'm feeling lucky!"
print(variable) #let's print it to see if it works

Today I'm feeling lucky!

Variables works like an identifier
- Example: Your name is an identifier and there are rules for keeping a name. We cant use special characters or numbers in our names
- Similarly there are rules in variables

Rules for choosing a variable
- Variable can only start with alphabets or underscore
- Cannot start with a number
- No space can be used in variable name
- Only contains alphabets or underscore or numbers

In [ ]:
#how to not declare variable?
#my-brain=3
#%p=3
#1A= 'razi'
#A B= 'hello'
#&variable = 2 {add @}

#how to declare variables?
a=3
ab_var=22
_var=4
A2=0

print(a)
print(ab_var)
print(_var)
print(A2)

# Multiple assignment: Assign multiple values to multiple variables in one line
a, ab_var, _var, A2 = 3, 22, 4, 0
print(a, ab_var, _var, A2)

3
22
4
0
3 22 4 0

Operators in Python
- Arithmetic Operators: + (plus), - (minus), * (multiply), / (divide)
- Assignment Operators: = , += , -=
- Comparison Operators: ==, >= , <= , !=
- Logical Operators: and, or not

In [ ]:
# Arithmetic operators

print(2+2 , 5-4 , 100/2 , 100*2)

# Assignment operators

a = 1 # assign the value 1 to a
a += 1 # increase the value of a by 1
a -= 10 # decrease the value of a by 10

# comparison operators

# Is it raining in karachi? Compare the value of weather in question vs current weather value
weather ='sunny'
print( weather == 'rainy')

# logical operators

# Is it raining in daytime?
weather='rainy'
time='day'

print(weather=='rainy' and time=='day')

4 1 50.0 200
False
False

More on type() function we saw earlier

In [ ]:
# how to check the type of variable?
a = 2
print(type(a))

# how to convert the value of existing variable into another data type?
b = '23'

print(b+2)
#integer
print(int(b))
#float
print(float(b))


# condition is that type conversion should be legal
# b='2A'
# print(int(b)) # this would throw error

<class 'int'>

TypeError: can only concatenate str (not "int") to str

Input function
- Input function prompts users for an input and saves that input in string
- The output of input function is always string

In [ ]:
# run a simple input function
input()

Enter your first nameMuhammad Razi

'Muhammad Razi'

In [ ]:
# # what if you want to display a message for user?
# a = input("Enter your first name")
# b = input("Enter your last name")
# print("Your full name is ", a+b)

# add two numbers from user input
c = input("Enter first number")
d = input("Enter second number")
print("Your result is ", c+d)

Enter first number90
Enter second number90
Your result is  9090
Your result is 180

1. Write a python script to add two numbers.
2. Write a python script to find remainder when a number is divided by b. Take a = 50 and b = 5.
3. Check the type of variable assigned using input () function.
4. Use comparison operator to find out whether ‘a’ given variable a is greater than
‘b’ or not. Take a = 10 and b = 100
5. Write a python script to find an average of two numbers entered by the user.
6. Write a python script to calculate the square of a number entered by the user.

In [ ]:
# Code here
# Answer 1

In [ ]:
# Code here
# Hint : google the remainder operator
# Answer 2

In [ ]:
# Code here
# Answer 3

In [ ]:
# Code here
# Answer 4

In [ ]:
# Code here
# Answer 5

In [ ]:
# Code here
# Hint : google the operator for square in python
# Answer 6

More on strings
- Strings are collection of one or more characters
- You can find length of a collection
- You can access an individual element in this collection of characters (index starts at 0)
- String can be sliced. Pick specific part.
- Immutable (cannot modify existing string)

In [ ]:
str_='Hello'

print('first character is', str_[0]) # first element always starts with zero
print('length of the string is', len(str_)) # we use the function len to find the length of string

first character is H
length of the string is 5

The index in a sting starts from 0 to (length -1) in Python.

In [ ]:
# print individual character
print(str_[0],str_[1],str_[2],str_[3],str_[4])

# last element is always -1
print(str_[-5],str_[-4],str_[-3],str_[-2],str_[-1])

#string_variable[0]='A' # cannot modify individual element in collection. create a new string

H e l l o
H e l l o

In order to slice a string, we use the following syntax:
A string in python can be sliced for getting a part of the strings.

In [ ]:
# starts from index 0 all the way till 3 (Excluding 3)
# H e l l
# H e l
print(str_[0:3])

Hello


- Negative Indices: Negative indices can also be used as shown in the figure above. -1
corresponds to the (length - 1) index, -2 to (length - 2).

Lists
- Python lists are containers to store a set of values of any data type.
- A list can be indexed just like a string.
- List methods

In [ ]:
# declare a list
l_1=[1,2,3,'Hello']

print(l_1[0], l_1[1], l_1[2], l_1[3])

print(l_1.pop(3))

# now we have all same type elements
l_1.sort() # sort the list
print(l_1)

l_1.reverse() # reverse the list
print(l_1)

l_1.append(8) #  adds 8 at the end of the list
print(l_1)

l_1.insert(3,100) # This will add 100 at 3 index
print(l_1)

print(l_1.pop(2)) # Will delete element at index 2 and return its value
print(l_1)

l_1.append('hello')
print(l_1)
l_1.remove('hello')
print(l_1)

1 2 3 Hello
Hello
[1, 2, 3]
[3, 2, 1]
[3, 2, 1, 8]
[3, 2, 1, 100, 8]
1
[3, 2, 100, 8]
[3, 2, 100, 8, 'hello']
[3, 2, 100, 8]

Dictionary is a collection of keys-value pairs.
1. It is unordered.
2. It is mutable.
3. It is key indexed.
4. Cannot contain duplicate keys.

In [ ]:
dictionary_variable={'name':'NIBAF', 'date':'20240920', 'age':25} #dictionary

print(dictionary_variable)

print(dictionary_variable['name'])

dictionary_variable['name']='NIBAF2.0'

print(dictionary_variable['name'])

{'name': 'NIBAF', 'date': '20240920', 'age': 25}
NIBAF
NIBAF2.0

In [ ]:
print(dictionary_variable.items())

dictionary_variable.keys()

dict_items([('name', 'NIBAF2.0'), ('date', '20240920'), ('age', 25)])

dict_keys(['name', 'date', 'age'])

Conditional Expressions:
- Make decisions based on conditions
- If, else and elif statements are a multiway decision taken by our program due to certain conditions in our code
- If rainy weather then take umbrella
- If sunny weather then take sunglasses
- Else don't take umbrella or sunglasses

In [ ]:
weather='Sunny'

if weather ==  'rainy':
  print('take umbrella')
elif weather == 'Sunny':
  print('take sunglasses')
else:
  print("don't take sunglasses or umbrella")

take sunglasses

Relational Operators are used to evaluate conditions inside the if statements. Some examples of relational operators are:
- ==: equals.
- '>=': greater than/ equal to.
- < =: lesser than/ equal to.

In [ ]:
a=12

if a>=18:
  print('you can get a driving license')
elif a<0:
  print('you cannot enter a negative number')
else:
  print('you cannot get a driving license')

you cannot get a driving license

In python logical operators operate on conditional statements.
- and – true if both operands are true else false.
- or – true if at least one operand is true or else false.
- not – inverts true to false & false to true.

In [ ]:
a=67
if a>=18 and a<100:
  print('you can get a driving license')
elif a<0:
  print('you cannot enter a negative number')
else:
  print('you cannot get a driving license')

you can get a driving license

1. There can be any number of elif statements.
2. Last else is executed only if all the conditions inside elifs fail.

In [ ]:
#Fun Task
#Create a calculator that takes two numbers and operator then performs the operation and prints result
#e.g input 2 numbers (1,5) then operation (+) ; expected outcome (6)

In [ ]:
#steps list down

#input function here


#logic here

Additional Examples Below

In [ ]:
#Type of variables in python #Variables are dynamically typed

int_variable= 5 # integers are positive negative whole numbers
print(int_variable)

#double check if its really integer?

print(type(int_variable))

int_second_var= int('6') # you can convert any string into integer
print(int_variable, int_second_var)
print(type(int_variable), type(int_second_var)) # you can use type function to confirm you have integers

5
<class 'int'>
5 6
<class 'int'> <class 'int'>

In [ ]:
float_variable=5.5 #float are decimal values
float_var_2=float(4) # Convert an string or integer to a float
print(type(float_variable), type(float_var_2)) # Check the type of float variable

<class 'float'> <class 'float'>

In [ ]:
string_variable='Hello I am string' #string are collection of one or more characters
print(len(string_variable)) # you can find length of a collection
#includes empty spaces as characters too

print(string_variable[0]) #you can access an individual element in this collection of characters (index starts at 0)

#the first element in collection always starts from 0 and ends at len(string_variable)-1
#the last element in collection always starts from -1

print(string_variable[0:3]) # you can specify the range of elements you want to access

17
H
Hel

Arithmetic operations

Conditional statements control the flow of your program based on whether conditions are True or False. Here are some key operators:

Comparison Operators:
== : equal to
!= : not equal to
'>' : greater than
'<' : less than
'>=' : greater than or equal to
'<=' : less than or equal to

In [ ]:
#Increment variable
a,b=5,10.0
a+=1 # a = a + 1
b+=1.5 # b = b + 1.5
print(f'New value is {a}', f'New value is {b}') #increment by 1. We can format our statements by adding variables too.
a=a+1
b+=1.5
print(f'New value is {a}', f'New value is {b}') #increment by 1

#Decrement variable
a-=1 # a = a - 1
b-=1.5
print(f'New value is {a}', f'New value is {b}')
a=a-1
b=b-1.5
print(f'New value is {a}', f'New value is {b}')

print(f'New value is {a}, {b}')

New value is 6 New value is 11.5
New value is 7 New value is 13.0
New value is 6 New value is 11.5
New value is 5 New value is 10.0
New value is 5, 10.0

In [ ]:
#Maths in python

#addition
a,b,c=2,5,7.0
d = a + b #d will automatically be integer
e = a + c #e will be automatically a float
print(f'd value is {d}, and {type(d)}', f'e value is {e}, and {type(e)}')

#subtraction
f= a - b
g= a - e
print(f'f value is {f}, and {type(f)}', f'g value is {g}, and {type(g)}')

#Fun Task
#The multiplication operator is * and the division operator is /

#multiple these two variables and store them in a seprate variable
a=5
b = 10

c = a*b
print(f'value of c is {c}')

#Divide these two variable and store them in a separate variable
s=100
t=10

v= s/t
print(f'value of v is {v}')
#print resultant variables # 3 minute

d value is 7, and <class 'int'> e value is 9.0, and <class 'float'>
f value is -3, and <class 'int'> g value is -7.0, and <class 'float'>
value of c is 50
value of v is 10.0

In [ ]:
#conditional statements
a=0
if type(a) == int :
  print('A is an integer')
elif type(a) == float :
  print('A is a float')
else:
  print('A is not an integer/float')


# equals to : ==
# or : or
# and : and
# less than : <
# greater than : >
# less than equal to : <=
# greater than equal to : >=

if a > 1 or a > 0 or a > 100:
  print(a)
else:
  print('a is less than 1')

if (a >3
    and a <10) :
   print('A is greater than 3 and less than 10')
else:
  print('A is not between 4 and 9')

A is an integer
a is less than 1
A is not between 4 and 9

In [ ]:
tuple_variable=(1,2,3,4,2,5.5,'i am string') #tuple is fixed collection, cannot add or remove elements
print(tuple_variable)
print(tuple_variable[0]) #print multiple variables, number, anything at once
print(tuple_variable[0:4]) #prints the first 4 elements
print(tuple_variable[-1]) #prints the last element

#tuple cant be modified
#tuple_variable[0]='A'

(1, 2, 3, 4, 2, 5.5, 'i am string')
1
(1, 2, 3, 4)
i am string

In [ ]:
dictionary_variable={'name':'NIBAF', 'date':'20240920', 'age':25} #dictionary
print(dictionary_variable)
print(dictionary_variable['name'])
dictionary_variable['name']='NIBAF2.0'
print(dictionary_variable['name'])

{'name': 'NIBAF', 'date': '20240920', 'age': 25}
NIBAF
NIBAF2.0

In [ ]:
list_variable=['string',2,3.2] #list is not a fixed collection, can add or remove elements
print(list_variable)
list_variable.append(200) # add 200 to list at end
print(list_variable) # print the last element in list
list_variable.pop() # remove the last element in list
print(list_variable)

['string', 2, 3.2]
['string', 2, 3.2, 200]
['string', 2, 3.2]

In [ ]:
thistuple = ("apple",) #To create a tuple with only one item, you have to add
                       #a comma after the item, otherwise Python will not recognize it as a tuple.
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
int(input("Enter your age"))

Enter your age34

34

In [ ]:
num= int(input("Enter your first number"))
num_2 = int(input("Enter your second number"))
operator = input("Input operator")

Enter your first number40
Enter your second number100
Input operator+

In [ ]:
if operator == '+':
  print(num+num_2)

140